.homebg {
    height: 200vh;
    background-color: blueviolet;
}

.navbar {
    background: linear-gradient(120deg, grey, silver);
}

.loginbg {
    height: 100vh;
    background: linear-gradient(120deg, rgb(130, 188, 238), rgb(255, 0, 230));
}

.loginbg h2 {
    text-align: center;
}

.log {
    width: 400px;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
    position: absolute;
    left: 40%;
    top: 20%;
}

.log h2 {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid silver;
}

.login-form {
    padding: 10px;
}

.login-form #submit {
    background-color: aqua;
    padding: 5px;
    border-radius: 30px;
    color: rgb(19, 140, 220);
    align-items: center;
    width: 120px;
}